/* 
    Document   : module.displaymessage.php
    Created on : Jun 20, 2011, 9:48:10 AM
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#messageBox {
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
	background-color: #151515;
	width: 300px;
	font-family: "Trebuchet MS", verdana, arial;
	position: fixed;
	z-index: 9;
	top: 0px;
	left: 0px;
	display: none;
}

#messageBoxContent {
	width: 260px;
	padding: 20px;
	padding-top: 10px; 
	padding-bottom: 20px;

}

#messageBoxHeading {
	color: #ffffff;
	font-size: 14px;
	line-height: 12px;
	width: 260px;
	font-weight: bold;
	margin-top: 10px;
}

#messageBoxText {
	color: #ffffff;
	font-size: 12px;
	line-height: 13px;
	margin-top: 5px;
}

#messageBoxBackground {
	background-color: #151515;
	position: fixed;
	z-index: 8;
	top: 0px;
	left: 0px; 
	width: 100%;
	height: 100%;
	display: none;
}