root { 
    display: block;
}

body {
	font-family: 'Dosis', sans-serif;	
	font-size: 11px;
}

input {
	font-family: 'Dosis', sans-serif;	
	font-size: 11px;
}

#site-wrapper {
	width: 500px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	font-family: 'Chango', sans-serif;
	font-size: 55px;
	margin-bottom: 0px;
	width: 100%;
	text-align: center;
}

#slogan {
	width: 100%; 
	margin-bottom: 20px;
	text-align: center;
}

#powerdb-box {
	width: 500px;
	overflow: auto;
	font-size: 11px;
	margin-left: auto;
	margin-right: auto;
	
}


#powerdb-generated-data-top {
	width: 90%;
	height: 30px;
	border: 1px solid #cccccc;
	background-color: #fcfcfc;
	cursor: pointer;
	margin-top: 20px;
}

#powerdb-generated-data-top span {
	font-size: 11px;
	padding-left: 20px;
	line-height: 30px;
}

#powerdb-generated-data-block {
	width: 90%;
	border: 1px solid #cccccc;
	border-top: none;
	background-color: #fafae2;
	/*display: none;*/
	
}

#powerdb-generated-data-block pre {
	
	font-size: 12px;
	padding: 10px;
	margin-top: 0px;
	padding-top: 10px;
}
.powerdb-row {
	width: 450px;
	height: 30px;
}

.powerdb-row input[type=checkbox] {
	float: left;
}

.powerdb-row #objectName {
	width: 230px;
}

.striptag {
	float: left;
	padding-top: 2px;
}
 
.powerdb-label {
	float: left;
	width: 100px;
	line-height: 22px;
}

.powerdb-row input[type='text'] {
	width: 120px;
	height: 18px;
	font-family: verdana, tahoma, helvetica;
	font-size: 10px;
	border: 1px solid #cccccc;
	padding-left: 2px;
	border-radius: 4px;
	float: left;
}

.powerdb-row .selectType {
	float: left;
	margin-left: 10px;
	width: 100px;
}

.alt-type {
	width: 70px;
	
}

