/* 
    Document   : develop
    Created on : Nov 5, 2010, 10:59:49 AM
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#developBox {
	position: absolute;
	z-index: 9;
	right:40px;
	top: 3px;
	width: 400px;
	font-size: 10px;
	font-family: Verdana;
	border: 1px solid #666666;
	background-color: #999999;
	text-align: right;
	color: #333333;
}

#developContents {
	width: 99%;
	display: none;
	background-color: #bbbbbb;
	text-align: left;
	margin-top: 4px;
	height: 400px;
	overflow: auto;
}

#developExpand {
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	margin-right: 5px;
	margin-bottom: 2px;
}